.footer {
  background-color: #616060;
  address {
    .adressContainer {
      p {
        color: #bdbdbd;
        a {
          color: #bdbdbd;
        }
      }
    }
  }
  .copyrights {
    font-size: 0.6rem;
    background-color: #373535;
    p {
      line-height: 50px;
    }
  }
}
