.footer {
  background-color: #616060;
  address {
    min-height: 200px;
    .adressContainer {
      p {
        color: #bdbdbd;
        a {
          color: #bdbdbd;
        }
      }
    }
  }
  .copyrights {
    font-size: 0.6rem;
    background-color: #373535;
    @media (min-width: 576px) {
      font-size: 0.7rem;
    }
    @media (min-width: 768px) {
      font-size: 0.8rem;
    }
    @media (min-width: 992px) {
      font-size: 0.9rem;
    }
    @media (min-width: 1200px) {
      font-size: 1rem;
    }
    @media (min-width: 1400px) {
      font-size: 1.1rem;
    }
    p {
      line-height: 50px;
    }
  }
}
